:root {
  --bg-primary: #f4f4f2;
  --bg-secondary: #e8e8e8;
  --text-primary: #495464;
  --text-secondary: #bbbfca;
  --font-color: #482c38;
}

* {
  box-sizing: border-box;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

.heading {
  color: var(--text-primary);
}

.text-primary {
  color: var(--text-primary) !important;
}

.text-secondary {
  color: var(--text-secondary);
}

.main-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: scroll;
}

.main-container > section {
  height: 100vh;
  scroll-snap-align: start;
}
